.memory-limits,
.container-limits {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  margin-top: 10px;
}

.namespace-create {
  .namespaces-name-yaml {
    .resource-form__wrapper {
      min-height: 350px !important;
    }
  }

  .yaml-form {
    overflow: auto;

    ui5-panel {
      &:last-of-type {
        padding-bottom: 1rem;
      }
    }
  }
}

@media (min-width: 700px) {
  .additional-resource {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
