.sourceurl-messagebox {
  width: 50vw;
  container-name: messagebox;
  container-type: inline-size;
}

.sourceurl-content {
  --_ui5_popup_content_padding_xl: 3rem;
  --_ui5_popup_content_padding_m_l: 2rem;
  --_ui5_popup_content_padding_s: 1rem;
}

@container messagebox (min-width: 1439px) {
  .sourceurl-content {
    width: calc(50vw - (2 * var(--_ui5_popup_content_padding_xl)));
  }
}

@container messagebox (min-width: 599px) and (max-width: 1439px) {
  .sourceurl-content {
    width: calc(50vw - (2 * var(--_ui5_popup_content_padding_m_l)));
  }
}

@container messagebox (max-width: 599px) {
  .sourceurl-content {
    width: calc(50vw - (2 * var(--_ui5_popup_content_padding_s)));
    min-width: calc(320px - (2 * var(--_ui5_popup_content_padding_s)));
  }
}

.to-add-list-header {
  border-bottom: 1px solid var(--sapGroup_TitleBorderColor);
  padding: 0 1rem;
  height: 2rem;
  line-height: 2rem !important;
  font-size: var(--sapFontHeader5Size);
}

.option-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

ul.unordered-list-disc {
  list-style-type: disc;
  margin-left: 1rem;
  overflow: visible;
  display: block;
}
