$bslNamespace: bsl-has;

$statusColors: (
  'status-1': var(--sapPositiveColor),
  'status-2': var(--sapCriticalColor),
  'status-3': var(--sapNegativeColor),
  'status-4': var(--sapNeutralColor),
  'text-1': var(--sapTextColor),
);

@each $colorName, $colorValue in $statusColors {
  .#{$bslNamespace}-color-#{$colorName} {
    color: $colorValue !important;
  }
}
